<article>
  <div class="article-meta">
    <div class="article-date">
      <span class="day">{{article.publishedAt|date('d')}}</span>
      <span class="month">{{article.publishedAt|date('F')}}</span>
      <span class="year">{{article.publishedAt|date('Y')}}</span>
    </div>
  </div>
  <div class="article-content">
    <h2>{{article.title}}</h2>  
    <h3>in {{article.category.name}}</h3>
    {{article.content|raw}}
  </div>
  <div class="article-footer">
    <div class="article-meta">
      <span class="author">Author: {{article.author.firstname}} {{article.author.lastname}}</span>
      <span class="last-update">Letzte Änderung {{ article.updatedAt|date('d.m.Y') }}</span>
      {% set article_url = path('blage_blog_default_article',{'year':  article.createdAt|date('Y'),'month':  article.createdAt|date('m'),'slug':article.slug} ) %}
      <span class="perma-link"><a href="{{ article_url }}">perma-link</a>&nbsp;&nbsp;&nbsp;</span>
      {% if articles is defined %}
        <span class="perma-link" data-disqus-identifier="blog-article-{{ article.id }}"><a href="{{ article_url }}#disqus_thread">comments</a></span>
      {% endif %}
    </div>
    <div class="article-social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.monofone.de{{ article_url }}" data-via="monofone" data-lang="de" data-text="{{ article.title }}" data-count="horizontal">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>    
</article>