{% set article_url = url('blage_blog_default_article',{'year':  article.createdAt|date('Y'),'month':  article.createdAt|date('m'),'slug':article.slug} ) %}
<article>
    <div class="blog-post">
        <h2 class="blog-post-title">{{ article.title }}</h2>

        <p class="blog-post-meta">{{ article.publishedAt|date('d. M  Y') }} by <a
                    href="#">{{ article.author.firstname }} {{ article.author.lastname }}</a>
            <span class="perma-link"><a href="{{ article_url }}">perma-link</a></span>
        </p>
        {{ article.content|raw }}

        <div class="article-social">
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-url="{{ article_url }}" data-via="monofone" data-lang="de"
               data-text="{{ article.title }}" data-count="horizontal">Tweet</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
        </div>

    </div>
    <!-- /.blog-post -->


    <div id="disqus_thread"></div>
    {% set identifier = 'blog-article-' ~ article.id %}
    {{ disqus_comments({'disqus_identifier': identifier }) }}
</article>
